@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Open Sans";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* list stylings */
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.gridItem {
  display: grid;
  grid-template-columns: auto 155px;
  padding: 30px;
  align-items: center;
}
.gridImage {
  max-height: 250px;
  max-width: 135px;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: left;
  width: 105px;
}
.desc {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #fff;
  text-align: left;
  width: 140px;
}
hr {
  color: #fff;
}
.logo {
  width: 30px;
  display: block;
  padding-bottom: 15px;
}
.mainLogo {
  width: 30px;
  display: block;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
  width: 50px;
}
.mobileView {
  display: none;
}

/* tablet designs */
@media only screen and (max-width: 992px) {
  .gridWrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 750px;
  }
}

/* mobile designs */
@media only screen and (max-width: 768px) {
  .desktopTabletView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  body {
    background-color: #eee;
  }
  .gridItem {
    grid-template-columns: auto;
    width: 250px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .logo {
    width: 60px;
  }
  .title {
    font-size: 28px;
    width: unset;
  }
  .desc {
    font-size: 17px;
    color: #ccc;
    width: unset;
  }
  .gridImage {
    width: 200px;
    max-width: unset;
    max-height: unset;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .swiper-pagination{
    padding-bottom: 50px;
  }
  .swiper-button-prev, .swiper-button-next {
    color: #FFF !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #FFF !important;
  }
}
